<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="section-prod-list con-min-width padding-0-10">
    <div class="con">
        <div class="prod-list">
            <ul class="flex flex-wrap">
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/1/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 1</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 1</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/2/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 2</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 2</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/3/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 3</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 3</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/4/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 4</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 4</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/5/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 5</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 5</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/6/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 6</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 6</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/7/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 7</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 7</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/8/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 8</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 8</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
                <li class="width-25p">
                    <div>
                        <div class="prod-list__prod-img img-box">
                            <img src="https://picsum.photos/id/9/350/300" alt="">
                            <div class="prod-list__prod-img-txt-1">ITEM 9</div>
                        </div>
                        <div class="prod-list__prod-name">ITEM 9</div>
                        <div class="prod-list__prod-price">19,800</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>